.title-container {
  display: flex;
  flex-direction: column;
}

.title-container p {
  font-size: 28px;
}

.title-container h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 0.9;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
